db4o.net/.project
**/.vs/*   
**/.idea/*
**/obj/*
**/.settings/*
db4o.net/db4o.license/.classpath
**/bin/*
**/Bin/*
**/debug/*
**/Debug/*
*.pdb
*.db
**/publish/*
db4o.net/Output/netstandard2.0/*.json
db4o.net/Output/netstandard2.0/*.xml
**/Output/Tutorial/*
