db4o.net/.project
db4o.net/.vs
**/.vs/*   
**/.idea/*
**/obj/*
**/.settings/*
*.classpath
*.cvsignore
*.project
**/bin/*
**/Bin/*
**/debug/*
**/Debug/*
*.pdb
*.db
**/publish/*
db4o.net/Output/netstandard2.0/
**/Output/Tutorial/*
/db4o.j/db4o-core/nbproject/private/
/db4o.j/db4o-core/build/
admins/om.net/.vs/*
/admins/om.j/ObjectManager/nbproject/private/
/admins/om.j/ObjectManager/build/
/admins/om.j/ObjectManager/dist/
/db4o.j/db4o-core/dist/
